* {
    padding: 12;
    margin: 12;
}

.hero,
.hero * {
    outline: 2px black dashed;
}

.hero {
    display: flex;
    height: calc(100vh 2rem);
    padding: 3rem;
    gap: 2rem;

    & > div{
        width: 67;
    }

    & > img{
        width: 40;
    }
}